// Place all the styles related to the users controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
.container {
  width: 980px;
  margin: 0 auto;
  position: relative;
  min-height: 100%;
}
.side_menu{
  width: 300px;
  float: left;
}
.content{
  width: 660px;
  margin-left:20px;
  float: left;
  font-size: 1.5rem;
  background-color: #F5B4B3;
}
.wrapper{
  margin-top: 10px;
  padding-bottom: 100px;
}
.header {
  background-color: #F5B4B3;
  height: 200px;
  font-size: 1.5rem;
}
.footer{
  width: 100%;
  height: 100px;
  position: absolute;
  bottom: 0;
  background-color: #4D4D4D;
  display: table;
}
.footer p {
  font-size: 1rem;
  color: #fff;
  text-align: center;
  vertical-align: middle;
  display: table-cell;
}
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}
